body{

    color:rgb(96, 188, 230);
    


  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
}
    


.elements{
    background-image: url("images/space.gif");
    background-size: cover;
    height: 600px;

    display:flex;
    flex-direction: column;
    
    align-items: center;

    padding: 10px 0 40px 0;

    
}

.btn{

    padding:8px 12px;
    width: 80px;;
    background: white;
    border: none;
    border-radius: 3px;
    font-family: inherit;

}

.spn{
    text-decoration: underline;
    
}

#logo{
 width: 200;   
}
#terms{
    text-align:center;
    
}

.shadow{

    text-shadow: -2px 2px 3px rgb(10, 92, 137);
}