body{
   
  font-family: "Happy Monkey", system-ui;
  font-weight: 400;
  font-style: normal;
  background:  linear-gradient(skyblue,lightpink);
  color: white;
  
}



#pic{
    width:200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    border:4px solid #EFB0C9 ;
}

.elements{
    display: flex;
    flex-direction: column;
    align-items: center;


}

.shadow{

    text-shadow: 0px 0px 2px black;
}

.txt_h3{

    background-color: #EFB0C9 ;
    border-radius : 3px;
    padding: 8px 10px 8px 10px;
    margin-top: 12px;
    margin-bottom: 5px;
}

.txt_h4{
    margin: 0;
      background-color: #EFB0C9 ;
    border-radius : 3px;
    padding: 8px 10px 8px 10px;
}
.giftsection{
 
    display:flex;
    flex-direction: column;
    align-items: center;

}

.gift_img{
    background-image: url("images/gift.jpg");
    background-size:cover;
    background-position: center;
    
    width: 400px;
    height:300px;
    border: 6px solid white;
    border-radius: 8px;
}
#cheers{
    height: 200px;
}

#cheers:hover{
    
    background-image: url("images/cheers.gif");

}


#happy:hover{

    background-image: url("images/happy.gif");
    
}

#wow:hover{
    background-image: url("images/wow.gif");
    
}

#genius:hover{
    background-image: url("images/genius.gif")

}
#badass:hover{
    background-image: url("images/badass.gif");
}
.h1_title{
    margin-bottom: 0;
}

.h3_title{
    margin-top: 0px;
}
.footer{
    width:400px;
    font-style: italic;
    margin: 40px auto 20px auto;
    
}
a{
    color: white;
}

