.card {
display:block;
color: black;
background: lightgray;
width: 300px;
margin-top:300px;
margin-left:auto;
margin-right:auto;

padding-top: 10px;
padding-right:10px;
padding-left:10px;
padding-bottom:10px;

border: 4px solid black;
border-radius:20px;



}

.twitter
{  
    width: 100px;

    border: 1px solid #cfd9de;
    color: #0f1419;
    font-weight: bold;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 20px;
    padding-right:20px;
    
    border-radius: 16px


}